<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do form</title>
</head>

<body>
    <p>Welcome To-Do Form</p>

    <div class="centered">
        <form action="/submittodoitem" method="post">
            <label>Item Name:</label>
            <input type="text" name="name" id="name" placeholder="Enter item name"><br><br>

            <label>Item Description:</label>
            <input type="text" name="description" placeholder="Enter item description"><br><br>

            <input type="submit" value="Submit"><br><br>

        </form>


    </div>
</body>
<style>
    body {
        background-color: wheat;
    }

    p {
        text-align: center;
        font-size: 30px;
        font-family: cursive;
        color: brown;
    }

    .centered {
        margin: auto;
        width: 50%;
        border: 3px solid brown;
        padding: 10px;
    }
</style>

</html>